@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flexbox() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}